* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo{
   height: 2rem;
}

/*---------------- COLORES ------------*/
.colorSec{
    color: rgb(69, 51, 5);
    
}

.colorPrin{
    color: #1a263e;
}

.colorTer{
    color: #5820ad;
}

/*----BACKGROUND--*/
.bgPrin{
    background-color: #32017a;
    
}

.bgSec{
    background-color: #1a263e;
}

.bgTer{
    background-color: rgb(69, 51, 5);
}

.bg-index{
    background-image: url(../assets/img/salatrabajo.jpeg);
    background-size: cover;
    height: 80vh;
}



/*---------------- BOTONES ------------*/
.btnAzul{
    background-color:#1a263e;
    color: rgb(255, 255, 255);
    border:#1a263e 2px solid ;
}

.btnAzul:hover{
    background-color:#f6f8fa ;
    border-color:#1a263e;
    color:#1a263e;
}
/*----*/
.btnBlanco{
    background-color:#ffffff;
    color: #2C3B59;
    border:#ffffff 2px solid ;
}

.btnBlanco:hover{
    background-color:#f6f8fa ;
    border-color: #2C3B59;
    color: #2C3B59;
}
/*----*/
.btnVio{
    background-color:#32017a;
    color: rgb(255, 255, 255);
    border:#32017a 2px solid ;
}

.btnVio:hover{
    background-color:#f6f8fa ;
    border-color: #32017a;
    color: #32017a;
}

/*----*/

.btnMarron{
        background-color:#32017a;
        color: rgb(255, 255, 255);
        border:#32017a 2px solid ;
    }
    
.btnMarron:hover{
        background-color:#f6f8fa ;
        border-color: #32017a;
        color: #32017a;
}



.logo-footer{
    height: 2rem;
}